.card.card-stats .icon {
  width: 48px;
  height: 100px;
  display: grid;
  place-items: center;
}

.card.card-stats {
  overflow: hidden;
}

.chart-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

canvas {
  max-width: 330px;
  max-height: 420px;
  width: 100% !important;
  height: auto !important;
}

@media (min-width: 769px) {
  .chart-wrapper {
    justify-content: flex-start;
  }

  canvas {
    max-width: 380px;
    max-height: 340px;
  }
}
