.udm-map {
  width: 100%;
  height: clamp(520px, 70vh, 860px);
  border-radius: 0 0 .75rem .75rem; 
  overflow: hidden;
}

.card-header {
  background: #fff;
  border-bottom: 1px solid rgba(0,0,0,.05);
}

.card-actions .btn {
  border-radius: .5rem;
}


.btn-ocean {
  background:#00aaff;
  color: #fff;
  border: none;
}

.btn-ocean:hover {
  background:  #0090ff 0%;
  transform: translateY(-1px);
  box-shadow: 0 4px 10px rgba(0, 175, 255, 0.3);
}

.btn-ocean i {
  font-size: 0.9rem;
}



