<nav class="navbar navbar-vertical navbar-expand-md navbar-light bg-white" id="sidenav-main">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" (click)="toggleSidebar()"
       aria-controls="sidenav-collapse-main">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand d-flex align-items-center me-auto" 
       routerLinkActive="active" 
       [routerLink]="['/overview']">
      <img src="./assets/img/brand/logo.png" 
           class="navbar-brand-img" 
           alt="EcoVisionAI" 
           style="height: 60px;">
    </a>

    <div class="navbar-collapse" [ngbCollapse]="isCollapsed" [animation]="false" id="sidenav-collapse-main">
      <div class="navbar-collapse-header d-md-none">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a  routerLinkActive="active" [routerLink]="['/overview']">
              <img src="./assets/img/brand/logo.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="closeSidebar()">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>

      <ul class="navbar-nav">
          <li *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
              <a routerLinkActive="active" [routerLink]="[menuItem.path]" class="nav-link" (click)="closeSidebar(); $event.stopPropagation()">
                  <i class="ni {{menuItem.icon}}"></i>
                  {{menuItem.title}}
              </a>
          </li>
      </ul>
    </div>
  </div>
</nav>
